.Description {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px;
    margin: 0 30px;
}

.logo {
    width: 150px;
    height: 150px;
}

.Info {
    display: flex;
    gap: 10px;
    margin: 30px;
}