.message {
    display: flex;
    color: whitesmoke;
    text-decoration: none;
    justify-content: flex-end; 
    align-items: flex-start; /* Верхний выравнивание */
}

.messageContent {
    display: flex;
    flex-direction: column; /* Вертикальная укладка */
    align-items: flex-start; 
}

.textMessage {
    font-size: 20px;
    margin: 10px 50px 5px 10px; 
}
.time {
    margin-left: 50%;
    margin-bottom: 10px;
    font-size: 16px;
    color: cyan; 
}
