.input {
    color: teal;
    outline: none;
    border: none;
    margin: 10px;
    color: #333;
    font-size: 18px;
    height: 30px;
    width: 500px;
    border-radius: 5px;
}

.error {
    border: 2px solid red;
    /* animation: shake 0.1s linear 10; */
}

/* @keyframes shake {
    0% {
      transform: translateX(0);
    }
  
    25% {
      transform: translateX(-2px);
    }
  
    50% {
      transform: translateX(0);
    }
  
    75% {
      transform: translateX(2px);
    }
  
    100% {
      transform: translateX(0);
    }
  } */