.friends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;

}

.title {
    text-align: center;
    margin-top: 50px;
}

.title a {
    color: #fff;
    text-decoration: none;
}